@page "/h"

<div class="d-grid" style="justify-items: center;">
    <img src="./imgs/logo.svg" />
    <h1 class="text-center" style="color: #5776FD;">PET FRIEND</h1>
    <p>Te desea un gran dia.</p>
</div>

